html {
	background-color: #F7F2EE;
}

body {
	background-color: #F7F2EE;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #800000;

}

/* CREDIT: https://community.plotly.com/t/plotly-6-map-attribution-box-positioning/91228 */
/* The following styles ensure the attribution tag floats above the map and should be removed if the issue is fixed in a future plotly release. */
.maplibregl-ctrl-bottom-right {
  bottom: 10px;
  right: 10px;
}

.maplibregl-ctrl-bottom-left, .maplibregl-ctrl-bottom-right, .maplibregl-ctrl-top-left, .maplibregl-ctrl-top-right {
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.maplibregl-map {
  font: 10px/16px Helvetica Neue,Arial,Helvetica,sans-serif;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.maplibregl-ctrl-attrib-inner {
  background-color: #FEF9F3;
  border-radius: 20px;
}

/*This is necessary to remove spacing below the canvas.*/
.maplibregl-canvas {
  display: block;
}

.maplibregl-ctrl-attrib-button {
  visibility: hidden;
}
