name: Create/Remove files
run-name: Create and remove files through Python

on:
    schedule:
      - cron: '17 5 * * *'
    
    workflow_dispatch:

jobs:
  
    python-script:
        name: Run python script to create/remove files
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
            
            - name: Setup python
              uses: actions/setup-python@v6
              with:
                python-version: '3.12'
                cache: 'pip'
            
            - name: Install dependencies
              run: pip install -r requirements.txt
            
            - name: Execute datasets.py
              env:
                SECRET_KEY: ${{secrets.GH_API_KEY}}
              run: python utils/datasets.py
            
            - name: Commit files
              run: |
               git config user.name github-actions
               git config user.email github-actions@github.com
               git add .
               git diff --staged --quiet || git commit -a -m "Update/remove files (GHA)" --allow-empty
               git push